<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="sessionM">Session Details</h4>
</div>
<div class="modal-body">
  <h1>Class Name</h1><br>
  <p>By Tainer Name</p><br>
  <p>Star Ratings</p><br>
  <h2>About Trainer</h2><br>
  <P>Stuff about the trainer</P><br>
  <h2>About the class</h2><br>
  <p>Stuff about the class</p><br>
  <p>Date</p><br>
  <p>Time</p><br>
  <p>Spots Available</p><br>
</div>
<div class="modal-footer">
  <button class="btn btn-primary">Add for price</button><br>
  <button class="btn btn-primary">More about the class</button>
</div>