<!-- Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#session-<%= session.id %>">
  Show Session
</button>

<div class="modal fade" id="session-<%= session.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h1>Class <%= session.activity.name %></h1>
        <p>By Trainer Name</p>
        <p>Star Ratings</p>
        <h2>About Trainer</h2>
        <P>Stuff about the trainer</P>
        <h2>About the class</h2>
        <p>Stuff about the class</p>
        <p>Date</p>
        <p>Time</p>
        <p>Spots Available</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>