
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1>My dashboard</h1>
        <h2 class="mb-3">Bookings</h2>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="true">Upcoming</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#past" type="button" role="tab" aria-controls="past" aria-selected="false">Past</button>
          </li>
        </ul>



      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
          <% @my_upcoming_bookings.each do |booking| %>
              <%= render "shared/session_card", session: booking.session, review: false %>
          <% end %>
        </div>


        <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">
          <% @my_past_bookings.each do |booking| %>
            <%= render "shared/session_card", session: booking.session, review: true %>
          <% end %>
        </div>


      </div>


    </div>
  </div>
</div>




