// Specific CSS for your home-page
.container  {
  h2 {
    text-align: center;
    // font-weight: 700;
  }
  h4 {
    font-weight: 700;
  }
  h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
  }
  margin-bottom: 30px;
}

.content-container {
  background-color: $cream;
}


