// Specific CSS for your home-page
.container  {
  h2 {
    text-align: center;
  }
  h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
  }
  margin-bottom: 30px;
}

.content-container {
  background-color: $cream;
}

a {
  transition: all 0.2s linear;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

