.heading-thanks {
  margin-top: 100px;
  width: 700px;
  margin-left: 100px;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: $red;
  }
  h6 {
    font-size: 24px;
    font-weight: 300;
  }
  #fit {
    color: black;
    font-size: 4rem;
  }
}

#thank-you1,  #thank-you2 {
  font-weight: 900;
  font-size: 54px;
  color: $red;
  margin: 0;
}

#thank-you2 {
  color: $dark-gray;
}
