.heading-thanks {
  margin-top: 100px;
  h1 {
    font-size: 4rem;
    background-color: white;
    opacity: 0.6;
  }
}

.content-container {
  background-color: $cream;
}

.container-thanks  {
    text-align: center;
    font-weight: 700;
}
