.container {
  padding: 20px 50px 20px 50px;
}

.profile-banner {
  background-color: $light-gray;
  position: relative;
  padding: 60px 0px 0px 0px;
  h1 {
    text-align: left;
    font-weight: 700;
  }
  h2, p {
    text-align: left;
  }
  img {
    height: 210px;
    width: 210px;
    position: absolute;
    left: 65%;
    bottom: -100px;
    border: 5px;
  }
}

.profile-body {
  padding: 30px 0px 30px 0px;
  #bio {
    font-weight: 700;
    text-align: left;
  }
}

#trainer-header-1 {
  margin-bottom: 30px;
}

#trainer-header-2 {
  margin: 0;
}

.show-rating {
  .fa-star, .fa-star-half-alt  {
    font-size: 20px;
    margin-top: 8px;
  }
  p {
    margin-bottom: 3px;
  }
  #average{
    font-size: 20px;
    margin-bottom: 0;
    padding: 0;
  }
}
