<div class="profile-banner">
  <div class="container">
    <h1>Trainer Profile</h1>
    <h2><%= @user.name %></h2>
    <p><i class="fas fa-star"> </i><i class="fas fa-star"> </i><i class="fas fa-star"> </i><i class="fas fa-star"> </i><i class="fas fa-star"></i></p>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="profile-body">
  <div class="container">
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
    <div class="pt-3">
<!--       <h3>Sessions</h3> -->
      <% if @sessions.blank? %>
        There are no sessions planned yet
      <% end %>
      <div class="row profilecard">
        <% @sessions.each do |session| %>
          <%= render "shared/session_card", session: session, review: false, trainer: false %>
          <%= render "sessions/show", session: session %>
        <% end %>
      </div>
    </div>
  </div>
</div>

