<div class="container chcontainer">
  <div class="row py-4">
    <div class="col chhead">
      <h1>Checkout</h1>
      <h2>Get Ready to change your life</h2>

      <div class="col-md-3"><%= image_tag @order.session.category.photo, width: '100%' %></div>

      <div class="container ch">
        <p>Cart total: <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
        <button id="pay" class="btn btn-primary">Pay</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
          sessionId: '<%= @order.checkout_session_id %>'
          });
          });
        </script>
      </div>
    </div>
  </div>
</div>
