<div class="banner"  style="background-color: white">
  <div class="container">
    <div class="heading">
      <h1>Your profile</h1>
      <h2><%= current_user.name %></h2>
      <%#= link_to "Browse sessions", sessions_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
