<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} thanks you! Now, let's get fit!" %>

<div class="banner" style="background-image: url(<%= image_path('homepage7.png')%>)">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-7">
      <div class="heading">
       <div>
          <h1 id="thank-you1">Thank you</h1>
          <h1 id="thank-you2">Now, let's get fit!</h1>
          <div class="mt-2">
            <p id="header-p">View your bookings page for the option to add the session<br>to your calendar and to tune in to the<br>session when it starts.</p>
          </div>


          <div>
            <%= link_to "My bookings", my_bookings_path, class: "btn btn-primary mt-3" %>
          </div>
          <div>
            <%= link_to "More sessions", sessions_path, class: "btn btn-dark mt-3" %>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-5">
        <div class="girl" style="background-image: url(<%= image_path('girl-bg.png')%>)">
        </div>
      </div>
  </div>
</div>
