.banner {
  background-size: cover;
  background-position: top;
  width:  100vw;
  padding: 150px 0;
  


  .heading {
    margin-left: 60px;
  }
}

#live-workouts,  #from-home {
  font-weight: 900;
  font-size: 72px;
  color: $red;
  margin: 0;
}

#from-home {
  color: $dark-gray;
}

#header-p {
  font-size: 18px;
  font-weight: 500;
}

