.addeventatc {
  // z-index: 9999 !important;
  background-color: #35393C !important;
  padding: 5px !important;
  p {
    margin: 0 !important;
    font-weight: 400 !important;
    font-family: "Montserrat", sans-serif !important;
    text-align: center !important;
    font-size: 1rem !important;
  }
}

.addeventatc_icon {
  opacity: 0;
}