#pay {
  font-size: 28px;
  font-weight: 400;
  padding: 0px 50px 0px 50px;
}

.chhead {
  h1 {
    margin-bottom: 15px !important;
  }
  h2 {
  font-size: 28px;
  font-weight: 400;
  padding-right: -5px 0px 20px 0px !important;
  margin-top: -50!important;
  }
  p {
  font-size: 28px;
  }
}

.ch {
  display: flex;
  justify-content: space-between;
}
