.form-container  {
  padding: 30px;
  border-radius: $border-radius;
  h2 {
    text-align: center;
    font-weight: 700;
  }
}



.form-actions {
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

