.search-bar {
  position: relative;
  width: max-content;
}

.search-input {
  height: 60px;
  width: 400px;
  border-radius: 50px;
  font-size: 1.6rem;
  padding-left: 1.6rem;
  font-weight: 300;
}

.search-button  {
  position: absolute;
  bottom: 2px;
  right: 5px;
    i {
    font-size: 30px;
    color: gray;
    &:hover {
      color: $red;
    }
  }
}

.custom-circle-button {
  width:  54px;
  height: 54px;
  position: absolute;
  bottom: 1px;
  right: -1px;
  background-color: $light-gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

