.review-card {
  max-width: 700px;
  margin: 8px auto;
  background: white;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
  transition: all 0.2s linear;
  padding: 10px 16px;
  p {
    margin: 0;
    font-weight: 300;
  }
  h6 {
    margin: 0;
  }
  h5 {
    margin-bottom: 4px;
  }
}

#review-date {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
}