

.modal-content {
  // width: 800px;
  height: 750px;
  border: none;
}

.modal-header {
  background-color: #35393C;
  color: white;
  // padding: 40px 0px 0px 0px;
  h4 {
    font-weight: 300;
    margin-bottom: 4px;
  }
  ul {
    margin-bottom: 0;
  }
}

.modal-header img {
  height: 130px;
  width: 130px;
  position: absolute;
  right: 75px;
  top: 95px;
  border: 5px;
}

.modal-title {
  font-size: 36px;
  font-weight: 700;
}

.modal-body {
  padding: 0px 40px 0px 40px;
  font-size: 24px;
  div {
    margin-top: 80px;
  }
  h4 {
    font-weight: 700;
  }
  p {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
  }
}

.modal-footer {
  text-align: left;
  justify-content: space-between;
  border: none;
  padding: 20px 0px 20px 0px;
  display: flex;
  h4 {
    opacity: 0.4;
  }
}

.buy {
  font-size: 48px;
  font-weight: lighter;
  padding: 10px 60px 10px 60px;
  margin-right: 40px;
}

.modal-date {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 4px;
}

.close  {
  text-shadow: none;
  color: white;     
}

// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F2;
// $cream: #FFFEFC;
// $dark-gray: #35393C;
