.card-session {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rhs-holder {
  display: flex;
  justify-content: space-between;
  text-align: right;
  flex-direction: column;
  height: 160px;
  width: 30%;
}

.session-card {
  max-width: 700px;
  margin: 16px auto;
  background: white;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

  p {
    margin: 0;
  }
  a:hover {
    text-decoration: none;
  }
  h2 {
    font-weight: 700;
    padding: 0;
    margin-bottom: 4px;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }
  h6 {
    margin-bottom: 0;
  }
}


.card-session-info {
  padding: 0 16px;
  flex-grow: 1;
}

 .card-session-time {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}


 .participants {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: gray;
    padding-right: 8px;
  }

  .fa-star  {
    color: gray;
    font-size: 14px;
  }


