.rhs-holder {
  display: flex;
  justify-content: space-between;
  text-align: right;
  flex-direction: column;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.session-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  height: 161px;
  margin: 16px auto;
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

  p {
    margin: 0;
  }
  a:hover {
    text-decoration: none;
  }
  h3 {
    font-weight: 700;
    padding: 0;
    margin-bottom: 4px;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }
  h6 {
    margin-bottom: 0;
  }

  &:hover {
    h3 {
      color: $red;
    }
  }
  img {
    margin-left: 30px;
  }
}


.card-session-info {
  padding: 0 16px;
  flex-grow: 1;
  padding-bottom: 10px;
  padding-top: 10px;
}

 .card-session-time {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}


 .participants {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: gray;
    padding-right: 8px;
  }

  .fa-star  {
    color: gray;
    font-size: 14px;
  }

  .numbers {
    h2 {
      margin: 0;
      font-weight: 700;
    }
  }

  .image-holder {
    width: 150px;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin-left: 16px;
  }

  @media only screen and (max-width: 730px) {
    .session-card {
      height: 250px;
    }
  }

